In [4]:
!pip install ml_metrics
import ml_metrics as metrics
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Requirement already satisfied: ml_metrics in c:\programdata\anaconda3\lib\site-packages (0.1.4)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from ml_metrics) (1.2.4)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from ml_metrics) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->ml_metrics) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->ml_metrics) (2021.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->ml_metrics) (1.15.0)

In [5]:
import pandas as pd

data = pd.read_table('10000.txt', delim_whitespace=True, names=('A', 'B', 'C'))
data

                                                A                   B  C
0        b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995  1
1        b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B  2
2        b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0  1
3        b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D  1
4        b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273  1
...                                           ...                 ... ..
1999995  d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92  SOJEYPO12AAA8C6B0E  2
1999996  d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92  SOJJYDE12AF729FC16  4
1999997  d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92  SOJKQSF12A6D4F5EE9  3
1999998  d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92  SOJUXGA12AC961885C  1
1999999  d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92  SOJYOLS12A8C13C06F  1

[2000000 rows x 3 columns]

In [6]:
msd_songs=pd.read_table('kaggle_songs.txt', delim_whitespace=True, names=('B', 'song_id'))
msd_songs

                         B  song_id
0       SOAAADD12AB018A9DD        1
1       SOAAADE12A6D4F80CC        2
2       SOAAADF12A8C13DF62        3
3       SOAAADZ12A8C1334FB        4
4       SOAAAFI12A6D4F9C66        5
...                    ...      ...
386208  SOZZZRJ12AB0187A75   386209
386209  SOZZZRV12A8C1361F1   386210
386210  SOZZZSR12AB01854CD   386211
386211  SOZZZWD12A6D4F6624   386212
386212  SOZZZWN12AF72A1E29   386213

[386213 rows x 2 columns]

In [7]:
new_data=pd.merge(data,msd_songs,on='B')
new_data

,A,B,C,song_id
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,6370
1,7c86176941718984fed11b7c0674ff04c029b480,SOAKIMP12A8C130995,1,6370
2,76235885b32c4e8c82760c340dc54f9b608d7d7e,SOAKIMP12A8C130995,3,6370
3,250c0fa2a77bc6695046e7c47882ecd85c42d748,SOAKIMP12A8C130995,1,6370
4,3f73f44560e822344b0fb7c6b463869743eb9860,SOAKIMP12A8C130995,6,6370
...,...,...,...,...
1999995,8d5be34165a0d2d20878abd6a48bb87af29b9f7a,SOPBPHJ12AAF3B59B6,2,233996
1999996,23f8ab814cd41e4a3394e762cc7360eb6c04cbd7,SOPBPHJ12AAF3B59B6,2,233996
1999997,4cc239fd4ab90eb599b2263e21dceebb252cf340,SOPBPHJ12AAF3B59B6,1,233996
1999998,e0039fa2e1d0c51c729d2521a48eccc52a375cc2,SOPBPHJ12AAF3B59B6,2,233996
1999999,6a5f74c28e6d091b31027965d402c93a6c7667e2,SOPBPHJ12AAF3B59B6,1,233996

In [8]:
new_data['song_id'].value_counts()

91177     8277
12985     7032
14397     6949
25150     6412
288653    6145
          ...
339175      51
178595      51
25608       50
371864      48
107508      48
Name: song_id, Length: 10000, dtype: int64

In [9]:
value_counts = new_data['song_id'].value_counts()

# converting to df and assigning new names to the columns
df_value_counts = pd.DataFrame(value_counts)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['song_id', 'count'] # change column names
df_value_counts

      song_id  count
0       91177   8277
1       12985   7032
2       14397   6949
3       25150   6412
4      288653   6145
...       ...    ...
9995   339175     51
9996   178595     51
9997    25608     50
9998   371864     48
9999   107508     48

[10000 rows x 2 columns]

In [10]:
cnt=0
for indx in df_value_counts.index:
    if(df_value_counts['count'][indx]>2):
        cnt=cnt+df_value_counts['count'][indx]
    else:
        break
cnt

2000000

In [12]:
df_value_counts['song_id'].head(10).to_csv('popularity.csv', index=False,header=False)

In [13]:
df_value_counts['song_id'].head(10)

0     91177
1     12985
2     14397
3     25150
4    288653
5    217471
6     68212
7    177172
8     54386
9     87433
Name: song_id, dtype: int64